body {
    /* background-image: url('../images/bg0.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    /* background-attachment: fixed; */
    height: 100%;
    width: 100%;
    line-height: 1;
}

div.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.slides {
    height: 100%;
}

div.slides img {
    opacity: 0;
    transition: opacity .2s;
    display: none;
}

div.slides img.active {
    opacity: 1;
    display: block;
}
 
div.logo {
    position: absolute;
    top: 50px;
    left: 10%;
}

div.logo span {
    display: inline-block;
    position: absolute;
    height: 38px;
    line-height: 38px;
    top: 15px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    width: 150px;
}

div.login_wrap {
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

div.wrap {
    width: 416px;
    max-height: 531px;
    min-height: 456px;
    border-radius: 4px;
    position: relative;
    background: #FFFFFF;
    margin: 20% auto 0;
}

div.main {
    width: calc(100% - 76px);
    min-height: 300px;
    padding: 22px 38px;
}

div.methods_tab {
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    z-index: 10;
    overflow: hidden;
    font-size: 12px;
}

div.methods_tab span {
    width: 50%;
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    padding: 8px 0;
}

div.methods_tab span.active {
    border-bottom: 1px solid #2B6CDB;
}

div.container div.form {
    margin-top: 10px;
}

div.container div.button {
    margin-top: 60px;
}

div.container div.button a.login_button {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background: #2368DE;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 12px;
    text-align: center;
}

div.form div.account div.item {
    position: relative;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    height: 48px;
    margin-top: 20px;
    overflow: hidden;
}

div.form span.icon {
    position: absolute;
    top: 4px;
    left: 2px;
}

div.form div.account > div > input {
    width: 70%;
    border: none;
    height: 48px;
    margin-left: 48px;
}

div.form a.input_eye {
    position: absolute;
    top: 19px;
    cursor: pointer;
    width: 18px;
    height: 15px;
}

/* TODO: add icon for eye open and close */
div.form a.input_eye.eye_close {
    background: url("../images/eye_close.png") no-repeat;
}

div.form a.input_eye.eye_open {
    background: url("../images/eye_close.png") no-repeat;
}

div.form_error {
    position: absolute;
    bottom: auto;
    font-size: 14px;
    color: #f00b41;
    letter-spacing: 0;
    text-align: justify;
    line-height: 16px;
    margin-top: 30px;
}

span#show_error {
    opacity: 0;
}

p.copyright {
    width: 416px;
    margin: 20px auto 0;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
}

div.dots {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left:35%;
    right:35%;
}

span.dot {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #bbb;
    transition: background-color 0.6 ease;
}

span.dot.active, span.dot:hover {
    background-color: #717171;
}
